.App {
  font-family: sans-serif;
  text-align: center;
  background-color: rebeccapurple;
  padding: 8px;
  margin: 0;
  height: 100vh;
  width: 100%;
  color: rgb(40, 143, 9);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 100%;
}

a {
  color: white;
}
